body { 
    background: url("../images/todo-list.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#navbar{
    /* background-color: rgb(255, 166, 0); */
    color:brown;
}


.heading{
    text-align: center;
    padding-top: 60px;
    font-family: 'Bubblegum Sans', cursive;
}

.shadow-text{
    position: relative;
    display: inline-block;
    font-size: 3em;
    color: brown;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px white, 
                 4px 4px 0px rgb(0,0,0,0.2);
}

h4{
    font-family:"Comic Sans MS", cursive, sans-serif; 
    text-align:center;
    color: rgb(117, 3, 3);
}
#favicon{
    font-size:60px;
    color:rgb(241, 48, 48);
}
#data{
    width: 50%;
}

#btn,#bttn{
    background-color:rgb(255, 166, 0);
    border-color: yellow;
    color: brown;
    font-weight: bold;
}
table,th,td {
    border-bottom: 1px solid rgb(224, 215, 215);
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    overflow: hidden;
        
  }

   table{
        box-shadow: 0 0 20px rgba(0,0,0, 0.15);
        position: absolute;
        left: 26%;
        top: 17%;  
        border-radius: 5px 5px 0 0;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
        0px 10px 20px rgba(0,0,0,0.05),
        0px 20px 20px rgba(0,0,0,0.05),
        0px 30px 20px rgba(0,0,0,0.05);  
   } 

  th,td {
    padding: 10px;
    text-align: left;
    border: 1px solid white;
  }

  table th {
    padding: 12px 15px;
    text-align: left;
    background-color: rgb(255, 166, 0);
    color: brown; 
    font-weight: bold;
  }

  table tr{
    background-color: #f2f2f2;
  }

  table tr:last-of-type{
      border-bottom: 2px solid rgb(255, 166, 0);
  }

 
  table tr:nth-child(even){background-color: rgb(245, 245, 186);}
  table tr:nth-child(odd){background-color: #faf5f5;}
  
  table tr:hover {background-color:rgb(236, 236, 62);}